{% extends 'base.html.twig' %}

{% block title %}Coucou Steph{% endblock %}

{% block body %}


<form  method="post">

    <input type="email" name="_username" placeholder="email">

    <input type="password" name="_password" placeholder="mot de passe">


    <button type="submit">connexion</button>



</form>


{% endblock %}
